*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    text-align: center;
    border: 1px black;
}

.header{
    margin-top: 15px;

}

.register{
    margin-top: 50px;
    margin-bottom: 25px;

}

.loggin{
    margin-top: 60px;
}

